test/
tests/
coverage/
.nyc_output/
.vscode/
.circleci/
jsdoc/
docs/
build/
jsdoc.json
CONTRIBUTING.md
.editorconfig
.eslintrc
.gitignore
tsconfig.json
.env
.travis.yml
CHANGELOG.md
.eslintignore
.snyk
*.exe
*.obj
commitlint.config.js
